<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Producto</title>
</head>
<body>
    <h1 align="center">Registrar Producto</h1>
    <form th:action="@{/vistas/GuardarProducto}" method="post" th:object="${regproducto}">
        <table align="center">
            <input type="hidden" th:field="*{idproductocl3}">
            <tr>
                <td>Nombre</td>
                <td><input type="text" th:field="*{nombrecl3}"></td>
            </tr>
            <tr>
                <td>Precio de Venta</td>
                <td><input type="number" step="0.01" th:field="*{precioventacl3}"></td>
            </tr>
            <tr>
                <td>Stock</td>
                <td><input type="number" th:field="*{stock}"></td>
            </tr>
            <tr>
                <td>Precio de Compra</td>
                <td><input type="number" step="0.01" th:field="*{preciocompcl3}"></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td><input type="text" th:field="*{estadocl3}"></td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td><input type="text" th:field="*{descripcl3}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Registrar">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
